<article class="lg:px-20">
            <div class="bg-gray-950 rounded-3xl text-white py-28 px-10">
                <h2 class="text-5xl courgette-regular text-center mb-10">Ready to step into the best version of you? </h2>
                <div class="flex justify-center space-x-4">
                    <button class="bg-gray-600 border hover:bg-gray-900 px-6 py-3 rounded-lg" onclick="openModal()">&larr; Contact Us</button>
                    <button class="bg-gray-600 border hover:bg-gray-900 px-6 py-3 rounded-lg" onclick="scrollToSection()" >Book Now &rarr;</button>
                </div>
            </div>
</article>