.bg-custom {
    background: linear-gradient(135deg, rgba(164, 90, 56, 0.8), rgba(240, 236, 233, 0.8), rgba(184, 208, 227, 0.8)), url('https://media.istockphoto.com/id/1159776728/vi/vec-to/n%E1%BB%81n-h%E1%BB%93ng-satin-l%E1%BB%A5a-m%E1%BB%81m-m%E1%BA%A1i-minh-h%E1%BB%8Da-vect%C6%A1.jpg?s=612x612&w=0&k=20&c=wDPUmSRNkkrCe6lJ55UJkWyAdSU3NuqM-3uO130xqkU=');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
    margin: 0;
    padding: 0;
    font-family: var(--mdc-font-family-default-primary);
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* nav bar */
.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0px;
    z-index: 50;
    background: white;
}
.nav-font {
    font-weight: 600;
    letter-spacing: 0.05em;
}
.nav-logo {
    margin-right: 0.75rem;
}
.menu-icon {
    transition: color 0.3s ease-in-out;
}
.menu-icon:hover {
    color: #f4b299;
}
.nav-menu {
    transition: all 0.5s ease-in-out;
    z-index: 50;
}

/* Responsive Dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 2;
    min-width: 120px;
    border-radius: 15px;
}

/* Footer */
.foot-font {
    font-weight: 600;
    letter-spacing: 0.05em;
}
/* Thêm khoảng cách giữa hình ảnh và văn bản */
.mr-2 {
    margin-right: 0.5rem; /* 8px */
}

.foot-logo {
    display: block;
    /* Điều chỉnh kích thước logo nếu cần */
    height: 50px;
    width: auto;
}

/* Đảm bảo văn bản và hình ảnh được căn giữa theo chiều dọc */
a.flex.items-center {
    display: flex;
    align-items: center;
}
/* Custom CSS for animations - Header - index.html start from here*/
.transition-transform {
    transition: transform 0.3s ease-in-out;
}
.hover-scale:hover {
    transform: scale(1.05);
}
.transition-opacity {
    transition: opacity 0.3s ease-in-out;
}
.hover-opacity:hover {
    opacity: 0.7;
}
.transition-bg {
    transition: background-color 0.3s ease-in-out;
}
.hover-bg-orange:hover {
    background-color: #ff7043; /* Slightly different shade of orange */
}

/* Custom CSS for animations - Header - index.html end from here*/

/*Couse & Service Section*/

.bg-main {
    background: #fff
}
.shadow-custom {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.hover\:shadow-custom:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.transition-all {
    transition: all 0.3s ease-in-out;
}
.card-img {
    transition: transform 0.3s ease-in-out;
}
.card-img:hover {
    transform: scale(1.05);
}
.btn {
    background-color: #3a1b00;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.btn:hover {
    background-color: #ae6f3e;
}
.btn-secondary {
    background-color: #ae6f3e;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.btn-secondary:hover {
    background-color: #3a1b00;
    color: #fff;
}


