
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body, html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
    margin: 0;
    padding: 0;
    font-family: var(--mdc-font-family-default-primary);
}
.bg-custom {
    background: linear-gradient(135deg, rgba(164, 90, 56, 0.8), rgba(240, 236, 233, 0.8), rgba(184, 208, 227, 0.8)), url('https://media.istockphoto.com/id/1159776728/vi/vec-to/n%E1%BB%81n-h%E1%BB%93ng-satin-l%E1%BB%A5a-m%E1%BB%81m-m%E1%BA%A1i-minh-h%E1%BB%8Da-vect%C6%A1.jpg?s=612x612&w=0&k=20&c=wDPUmSRNkkrCe6lJ55UJkWyAdSU3NuqM-3uO130xqkU=');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* nav bar */
.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0px;
    z-index: 50;
    background: white;
}
.nav-font {
    font-weight: 600;
    letter-spacing: 0.05em;
}
.nav-logo {
    margin-right: 0.75rem;
}
.menu-icon {
    transition: color 0.3s ease-in-out;
}
.menu-icon:hover {
    color: #f4b299;
}
.nav-menu {
    transition: all 0.5s ease-in-out;
    z-index: 50;
}

/* Responsive Dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 2;
    min-width: 120px;
    border-radius: 15px;
}


:root {
--mdc-font-family-default-primary: 'Open Sans';
--mdc-font-weight-light: 300;
--nav-hover-color: #c98b8b;
}


.custom-font {
font-family: var(--mdc-font-family-default-primary);
font-weight: 800;
}


.section {
text-align: center;
padding: 50px 0;
}

.top-collections {
font-size: 4rem;
color: var(--nav-hover-color);
margin-bottom: 6px;
}

.best-offers {
font-family: var(--mdc-font-family-default-primary);
font-weight: var(--mdc-font-weight-light);
font-size: 5rem;
font-weight: 800;
color: #000;
margin-bottom: 6px;
}

.divider {
display: flex;
justify-content: center;
align-items: center;
}

.divider::before, .divider::after {
content: '';
flex: 1;
border-bottom: 1px solid var(--nav-hover-color);
margin: 0 20px;
}

.relative-container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden; /* Ensure overflow doesn't cause layout issues */
}

.image-wrapper {
position: relative;
max-width: 100%; /* Ensure the image doesn't exceed its container */
padding: 1rem; /* Example padding */
border-radius: 1.5rem; /* Example border radius */
}

.image-wrapper img {
border-radius: inherit; /* Inherit border radius from parent */
transition: transform 0.5s ease;
}

.image-wrapper img:hover {
transform: scale(1.05); /* Enlarge on hover */
}

.image-wrapper-left {
  position: relative;
  left: -10%;
  }

.image-wrapper-right {
  position: relative;
  right: -10%;
}
/* Card */
.overlay-card {
position: absolute;
top: 50%;
transform: translateY(-50%);
transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}
.overlay-card .relative {
border-radius: 1.5rem; /* More rounded corners for the card */
transition: all 0.3s ease;
}

.overlay-card .relative:hover {
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow effect on hover */
}
.overlay-card-left {
left: -35%; /* Adjust position for larger screens */
right: auto; /* Reset right position */
}

.overlay-card-right {
right: -30%; /* Adjust position for larger screens */
left: auto; /* Reset left position */
}


/* Media query for smaller screens */
@media (max-width: 768px) {

.overlay-card-left{
left: -20%; /* Adjust position for smaller screens */
right: auto; /* Reset right position */
width: 70%; /* Adjust width as needed */
max-width: 600px; /* Limit maximum width */
}
.overlay-card-right{
left: auto; /* Adjust position for smaller screens */
right: -20%; /* Reset right position */
width: 70%; /* Adjust width as needed */
max-width: 600px; /* Limit maximum width */
}

.image-wrapper-right, .image-wrapper-left {
width: 80%; /* Reduce image width on smaller screens */
max-width: 100%; /* Ensure image spans full width */
height: auto; /* Maintain aspect ratio */
}
}






